@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 10, 10, 10;
  --background-start-rgb: 229, 231, 235;
  --background-end-rgb: 229, 231, 235;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 10, 10, 10;
    --background-start-rgb: 229, 231, 235;
    --background-end-rgb: 229, 231, 235;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
